<!DOCTYPE html>
<html>
<head>
    <!DOCTYPE html>
    <html>
    <head>
        <style>
            th, td {
                padding: 15px;
            }
        </style>


        <div id="loading_bar" style="">
            <center>
                <div>
                    <h3>


                        Le musée du Louvre vous remercie de votre commande. </br> </br>
                        Voici votre ticket pour le {{ booking.datedevisite|date("m/d/Y") }}.</br> </br>

                        Prix de la réservation : {{ booking.prixTotal }} EUR.</br> </br>
                        Code de réservation : {{ booking.code }}.</br> </br>

                    </h3>


                </div>
                <img class="img-circle img-responsive"
                     width="350px"
                     src="https://i.imgur.com/sJCbpYn.jpg">

                <h1>Détails de la commande</h1>


                <h1>Tiquets pour :</h1>
                <div id="tickets-info">
                    <table>
                        <thead>
                        <tr><th>Prénom</th><th>Nom       </th></tr>
                        </thead>
                        <tbody>
                        {% for ticket in booking.getTickets() %}
                        <tr>
                            <td>{{ ticket.getPrenom }}</td>
                            <td>{{ ticket.getNom }}</td>
                            {% endfor %}
                        </tr>

                        <h2 style="font-weight: bold"></h2> </br> </br>
                        </tbody>
                    </table>
                </div>
        </div>
        </center>
        </div>
        <hr>
        <footer>
            <center>


            </center>
        </footer>
        </div>
</head>