{% extends "shop/layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="first_title">Récapitulatif de votre commande</div>

    <h3>Votre réservation pour le
        {{ app.session.get('Booking').getDatedevisite()|date('d/m/Y') }}</h3>

    <hr></hr>
    <div>
        <table class="table table-bordered" style="background-color: white;">
            <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
            </tr>
            </thead>
            <tbody>
            {% for ticket in app.session.get('Booking').getTickets() %}
                <tr>
                    <td>{{ ticket.getPrenom }}</td>
                    <td>{{ ticket.getNom }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <div>Nombre de ticket réservé : {{ app.session.get('Booking').getTickets().count }}.</div>
        <div>Type de visite : {{ app.session.get('Booking').getStrDuree() }}.</div>
    </div>

    <h3>
        Montant total : {{ app.session.get('Booking').prixTotal }} €</br>
    </h3>

    Veuillez renseigner vos coordonées bancaires dans le champ ci-dessous pour régler votre commande.</br> </br>



    <script src="https://js.stripe.com/v3/"></script>
    <form method="post" id="payment-form">
        <div class="form-row">
            <label for="card-element">
                Credit or debit card
            </label>
            <div id="card-element">
                <!-- A Stripe Element will be inserted here. -->
            </div>

            <!-- Used to display Element errors. -->
            <div id="card-errors" role="alert"></div>
        </div>

        <button>Submit Payment</button>
    </form>


{% endblock %}
{% block javascript %}
    <script>
        var stripe = Stripe('pk_test_eOi9gtv5fB0VE3Cw8yUqPyRm');
        //var stripe = Stripe({*
        //
        // stripe}});
        var elements = stripe.elements();


        // Custom styling can be passed to options when creating an Element.
        var style = {
            base: {
                // Add your base input styles here. For example:
                fontSize: '16px',
                color: "#32325d",
            }
        };

        // Create an instance of the card Element.
        var card = elements.create('card', {style: style});

        // Add an instance of the card Element into the `card-element` <div>.
        card.mount('#card-element');

        card.addEventListener('change', function (event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });

        // Create a token or display an error when the form is submitted.
        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function (event) {
            event.preventDefault();

            stripe.createToken(card).then(function (result) {
                if (result.error) {
                    // Inform the customer that there was an error.
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    // Send the token to your server.
                    stripeTokenHandler(result.token);
                }
            });
        });

        function stripeTokenHandler(token) {
            // Insert the token ID into the form so it gets submitted to the server
            var form = document.getElementById('payment-form');
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeToken');
            hiddenInput.setAttribute('value', token.id);
            form.appendChild(hiddenInput);

            // Submit the form
            form.submit();
        }

    </script>
{% endblock %}