{% extends "shop/layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="first_title">Récapitulatif de votre commande</div>

    <h3>Votre réservation pour le
        {{ app.session.get('Booking').getDatedevisite()|date('d/m/Y') }}</h3>

    <hr></hr>
    <div>
        <table class="table table-bordered" style="background-color: white;">
            <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
            </tr>
            </thead>
            <tbody>
            {% for ticket in app.session.get('Booking').getTickets() %}
                <tr>
                    <td>{{ ticket.getPrenom }}</td>
                    <td>{{ ticket.getNom }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <div>Nombre de ticket réservé : {{ app.session.get('Booking').getTickets().count }}.</div>
        <div>Type de visite : {{ app.session.get('Booking').getStrDuree() }}.</div>
    </div>

    <h3>
        Montant total : {{ app.session.get('Booking').prixTotal }} €</br>
    </h3>

    Veuillez renseigner vos coordonées bancaires dans le champ ci-dessous pour régler votre commande.</br> </br>



    <script src="https://js.stripe.com/v3/"></script>
    <form method="post" id="payment-form">
        <div class="form-row">
            <label for="card-element">
                Credit or debit card
            </label>
            <div id="card-element">

            </div>


            <div id="card-errors" role="alert"></div>
        </div>

        <button>Submit Payment</button>
    </form>


{% endblock %}
{% block javascript %}
    <script>

        var stripe = Stripe('{{ stripe }}');

        var elements = stripe.elements();

        var style = {
            base: {
                fontSize: '16px',
                color: "#32325d",
            }
        };

        var card = elements.create('card', {style: style});

        card.mount('#card-element');

        card.addEventListener('change', function (event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });

        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function (event) {
            event.preventDefault();

            stripe.createToken(card).then(function (result) {
                if (result.error) {

                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {

                    stripeTokenHandler(result.token);
                }
            });
        });

        function stripeTokenHandler(token) {

            var form = document.getElementById('payment-form');
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeToken');
            hiddenInput.setAttribute('value', token.id);
            form.appendChild(hiddenInput);


            form.submit();
        }
    </script>
{% endblock %}